.comment.m-top-20{ :id => "comment-#{comment.id}" }
  .row-fluid.m-top-20.clearfix
    .col-md-2
      = link_to user_path(comment.user) do
        .timeline-teaser{style: "background-image:url(#{comment.user.avatar.url})"}
        %b= "#{comment.user.first_name} #{comment.user.last_name}"
      %p
        %small.time-ago= "#{time_ago_in_words(comment.updated_at)} ago"
    .col-md-10
      .comment-content
        - if current_user && current_user.id == comment.user_id || current_user && current_user.id == reel_user
          = link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close', :id => "delete_comment"
        %p= comment.body
        - if current_user
          = link_to "Reply", reply_comment_path(comment), :method => :get, :remote => true, class: "reply"
  .row-fluid.m-top-20.clearfix
    .replies.clearfix{ :id => "replies-#{comment.id}" }
      - if !comment.descendants.empty?
        = render :partial => 'comments/reply_comment', :collection => comment.descendants.order('created_at desc'), :as => :comment, :locals => { :reel_user => @user.id }
