.comment-form
  %b= current_user.first_name + " " + current_user.last_name
  %small.time-ago Now
  = form_for comment, :remote => true do |f|
    = f.text_area :body, :rows => 3, :label => false, :placeholder => "Add a comment...", :class => "comment-form-textbox"
    = f.hidden_field :commentable_id, :as => :hidden, :value => comment.commentable_id
    = f.hidden_field :commentable_type, :as => :hidden, :value => comment.commentable_type
    = f.submit "Submit", :class => "btn btn-primary", :disable_with => "Submitting…"
