.comment-form
  = form_for comment, :remote => true do |f|
    = f.text_area :body, :rows => 3, :label => false, :placeholder => "Add a comment..."
    = f.hidden_field :commentable_id, :as => :hidden, :value => comment.commentable_id
    = f.hidden_field :commentable_type, :as => :hidden, :value => comment.commentable_type
    = f.submit "Submit", :class => "btn btn-default", :disable_with => "Submitting…"
