.reply-form.m-top-20
	= form_for comment, :remote => true do |f|
		= f.text_area :body, :rows => 3, :label => false
		= f.hidden_field :commentable_id, :as => :hidden, :value => comment.commentable_id
		= f.hidden_field :commentable_type, :as => :hidden, :value => comment.commentable_type
		= f.hidden_field :p_comment, :as => :hidden, :value => parent_comment.id
		= f.submit "Reply!", :class => "btn btn-primary reply-btn", :disable_with => "Submitting…"
	= button_tag 'Cancel', :id => "cancel_button", :remote => true, :class => "btn btn-default reply-btn"