=render :layout => 'shared/form_layout' do
  .row
    .col-xs-12.text-center#new-article
      %h1 Write a Story
  .row.p-top-40
    .col-xs-12.col-md-6.col-md-offset-3
      = form_for :article, url: articles_path, html: { :multipart => true } do |f|
        .form-group
          %label{for: "reel_select"} Select a reel:
          .select-style#reel_select
            = collection_select(:article, :reel_id, current_user.reels.all, :id, :name, prompt: 'Please select reel', required: true)
        .form-group
          %label{for: "title"} Title:
          = f.text_field :title, placeholder: 'Your story\'s title', class: "form-control"
        .form-group
          %label{for: "body"} Story:
          = f.text_area :body, placeholder: 'Write anything...', class: "form-control", rows: 2
        %hr.m-y-20
        .text-center
          = f.submit "Save", class: "button btn btn-info w-100"
