.notification-header.text-center
  Notifications
  .badge.notification-badge= @notifications.try(:length)
- if @notifications.blank?
  %li.notification-item No notifications yet!
-else
- @notifications.each do |notification|
  %li.notification-item{:id => "notification-#{notification.id}"}
    .row
      .col-sm-3
        = link_to user_path(notification.action_taker_id) do
          .timeline-teaser{style: "background-image:url(#{notification.action_taker_avatar_url})"}
      .col-sm-9
        = link_to notification.path_to_action_taken_on do
          %i.pull-left.fa{:class => @notification_icons[notification.action]}
          %b= notification.message.partition(" ").first
          = truncate(notification.message.partition(" ").last, length: 150)
        %br
        %br
        %small.time-ago= notification.action_happened_at
        %span.dot= "&middot; ".html_safe
        = link_to("mark as read", notification_path(id: notification, read: true), method: :put, remote: true, class: "notification-read", :data => {:nId => notification.id})
