<div class="statbar container">
  <div class="row">
    <div class="col-sm-4">
      <% if @user.avatar.exists? %>
        <%= image_tag(@user.avatar.url(:medium)) %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <div class="heading">
        <%= "#{@user.first_name} #{@user.last_name}" %>
      </div>
      <div class="subheading">
        <%= @user.description %>
      </div>
      <br><br>
      <div id="project-categories" class="subheading">
        <div style="text-decoration:underline">
          <%= "Top Categories"%>
        </div>
        <% @user.categories.sort_by { |interest_id, projects| projects.count }.reverse.each do |interest_id, projects| %>
          <%= "#{Interest.find_by_id(interest_id).name} - #{pluralize(projects.count, "project")}" %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>