<div class="heading">
  <%= "#{@user.first_name} #{@user.last_name}" %>
</div>
<div class="subheading">
  <%= @user.description %>
</div>

<nav class="navbar navbar-default navbar-static-top center menubar" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-inner">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".interest-bar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- Insert follow button -->
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse interest-bar" id="interest-bar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">About</a></li>
      <li><%= link_to "#{@followers.count} Followers", user_followers_path(@user) %></li>
      <!-- FIXME 1 Follower"s" -->
     </ul>
     <div class="btn-follow-unfollow navbar-center" id="follow-unfollow-user">
        <% if user_signed_in? && current_user != @user %>
          <%= button_to "Follow", followerships_path(id: @user), method: :post, class:"btn btn-danger btn-sm navbar-btn" %>
          <!-- <button class="btn btn-danger btn-sm navbar-btn" type="submit">Follow</button> -->
        <% end %> 
     </div>
     <ul class="nav navbar-nav">
     <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">All Posts <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div>
</nav>


    <div id="interests">
      <h5><%= "#{@user.first_name}" %>'s Styles</h5>
      <hr>
      <% if @interests %>
        <% @interests.each do |interest| %>
          <%= link_to interest.name, interest_path(interest) %><br>
        <% end %>
      <% end %>
      <br>
    </div>

    <div id="workshops">
      <h5>Workshops hosted by <%= "#{@user.first_name}" %></h5>
      <hr>
      <% if @workshops %>
        <% @workshops.each do |workshop| %>
          <%= link_to workshop.title, workshop %><br>
        <% end %>
      <% end %>
      <br>
    </div>

    <div id="Followed">
      <h5>Following</h5>
      <hr>
      <% if @followed_users %>
        <% @followed_users.each do |followed_user| %>
          <%= link_to followed_user.first_name, followed_user %><br>
        <% end %>
      <% end %>
      <br>
    </div>
