- content_for :head do
  %meta{ property: "og:title", content: "<%=@user.first_name%> <%=@user.last_name%>" }
  %meta{ property: "og:type", content: "website" } 
  %meta{ property: "og:url", content: "<%=user_url(@user)%>" } 
  %meta{ property: "og:image", content:"<%=user_image%>" }
  %meta{ property: "og:description", content: "<%=user_description%>" }
= render 'shared/nav'
.page
  .hero-image{style: "background-image: url(#{@user.cover_photo.url(:large)});"}
    .page-hero
      %a#user-tab
        .page-info
          .avatar{:style => "background-image: url(#{@user.avatar.url});"}
          %h1=@user.first_name + " " + @user.last_name
          %h4.m-top-1= @user.description
          %h4.m-top-5= @user.location
  .tabs
    .row-fluid
      .content-container
        %ul.list-inline
          %li.active
            %a{href: "#work", role: "tab", "data-toggle" => "tab", id: "work-tab"} 
              %span #{@reels.count} Reel#{'s' unless @reels.count == 1}
          %li.divider
          %li
            %a{href: "#bio", role: "tab", "data-toggle" => "tab", id: 'bio-tab'} Bio
        - if current_user.present?
          - if @user.id == current_user.id
            = link_to "Edit Profile", edit_profile_path, class: "btn btn-default edit-profile"
        - else
          .btn.btn-default.edit-profile Follow
  .page-content
    .tab-content
      .container.tab-pane#bio{role: "tabpanel"}
        .row.text-center
          .col-xs-12.col-sm-8.col-sm-offset-2
            .teaser.bio
              %p= @user.bio
      .content-container.tab-pane.active#work{role: "tabpanel"}
        .tab-content
          .tab-pane.active#reels{role: "tabpanel"}
            - if current_user && current_user.id == @user.id
              = link_to new_reel_path do
                .teaser.new-reel
                  =image_tag "lt-turq_reel.svg", height: 40
                  %h4.c-lt-turq New reel
            - @reels.each do |reel|
              =render :partial => 'shared/teaser', :locals => {:reel => reel}
