
<!--Statbar (Avatar and Stats) -->
<%= render "user_avatarbar" %>

<!-- Menubar -->
<%= render "user_menubar" %>

<!-- Reels -->
<% if @user == current_user && !@user.reels.present? %>
  <%= render "user_reels_empty" %>
<% else %>
  <% @reels.each do |reel| %>
    <%= reel.name %>
    <% reel.interests.each do |interest| %>
      <%= link_to interest.name, interest_path(interest) %>
    <% end %>
    <% reel.images.each do |image| %>
      <%= image.title %>
    <% end %>

    <ul class="row" id="videos-list">
      <% reel.videos.each do |video| %>
        <li class="col-sm-3">
          <div class="thumbnail">
            <%= link_to image_tag("https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title, class: 'img-rounded'), "https://www.youtube.com/watch?v=#{video.uid}", target: '_blank' %>    
            <div class="caption">
              <h4><%= video.title %></h4>
              <p><%= truncate video.description, length: 100 %></p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

    <br><br>
  <% end %>
<% end %>

<!-- Projects -->

<%# if @user == current_user && !@user.projects.present? %>
  <%#= render "user_projects_empty" %>
<%# else %>
  <%#= render "shared/projects" %>
<%# end %>
