<% content_for :head do %>
  <meta property="og:title" content="<%=@user.first_name%> <%=@user.last_name%>"/> 
  <meta property="og:type" content="website"/> 
  <meta property="og:url" content="<%=user_url(@user)%>"/> 
  <meta property="og:image" content="<%=user_image%>" /> 
  <meta property="og:description" content="<%=user_description%>" />
<% end %>

<!--Statbar (Avatar and Stats) -->
<%= render "user_avatarbar" %>

<!-- Menubar -->
<%= render "user_menubar" %>

<div id="fb-root" data-fb-app-id="<%= ENV['FACEBOOK_APP_ID']%>"</div>
<div class="fb-share-button" data-href="<%=share_object('user')%>" data-width="300" data-layout="link"></div>

<!-- Reels -->
<% if @user == current_user && !@user.reels.present? %>
  <%= render "user_reels_empty" %>
<% else %>
  <% @reels.each do |reel| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <h2> <%= link_to reel.name, reel %> </h2>
      <div>
      <div class="row">
      <% reel.interests.each do |interest| %>
        <%= link_to interest.name, interest_path(interest) %>
      <% end %>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <% reel.images.each do |image| %>
          <div class="row">
            <h3> <%= image.title %> </h3>
          </div>
          <div class="row">
            <% if image.photo %>
              <%= image_tag image.photo.url(:medium) %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>

      <div class="row" id="videos-list" style:"list-style: none;">
        <% reel.videos.each do |video| %>
          <div class="row">
            <h2> <%= video.title %> </h2>
            <p> <%= video.description %> </p>
          </div>
          <div class="row">
            <iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/<%=video.uid%>" allowfullscreen frameborder="0">
            </iframe>
          </div>
        <% end %>
      </div>

    </div>
  </div>

    <br><br>
  <% end %>
<% end %>

<!-- Projects -->

<%# if @user == current_user && !@user.projects.present? %>
  <%#= render "user_projects_empty" %>
<%# else %>
  <%#= render "shared/projects" %>
<%# end %>
