- if @event.payment_required
  - form_id = "registration-form"
- else
  - form_id = "registration-form-nopayment"
.container
  = render 'shared/light_nav'
  .container.registration
    .register-form
      - if @event.id == 1
        =image_tag "Evrystep_Flyer.jpg", :width => "100%", style: "margin-bottom: 20px;"
      .row
        .col-xs-12.text-center#new-reel
          %h2 
            = @event.name
          %h4.c-red 
            = @event.special_copy
          %h4
            = @event.time
          %h4
            = @event.location
          %span Contact the organizer at
          %span
            =mail_to "info@evrystep.com"
      .row.p-top-40
        .col-xs-12.col-md-6.col-md-offset-3
          = form_for :registration, url: event_registrations_path, :html => { :multipart => true, :id => form_id } do |f|
            .errors
              - if @registration.errors.any?
                %p Could you try that again?
                %ul.errors
                  - @registration.errors.full_messages.each do |msg| 
                    %li= msg
              .payment-errors
            .form-group
              %label{for: "name"} Name:
              = f.text_field :name, :placeholder => 'Your name', class: "form-control", :required => "required"
            .form-group
              %label{for: "email"} Email:
              = f.text_field :email, :placeholder => 'Your email', class: "form-control", :required => "required"
            .form-group
              %label{for: "phone"} Phone:
              = f.text_field :phone, :placeholder => 'Your phone number', class: "form-control", :required => "required"
            /.form-group
            /= f.check_box :availability_confirmation
            /= "I am available on Saturday, June 13, 2015 from 1pm to 6pm."
            %hr
            /.text-center.m-top-40.m-bottom-40
            /%h1 PAYMENT
            /%p Registrants pay $10 + $1 transaction
            - if @event.payment_required
              %h5 Entry fee: $10 + $1.50 transaction
              .m-y-20
                %span 
                  =image_tag "visa.png"
                %span 
                  =image_tag "mastercard.png"
                %span 
                  =image_tag "amex.png"
                %span 
                  =image_tag "discover.png"  
              .form-group
                %label Card Number
                %span.c-med-gray.glyphicon.glyphicon-lock
                .card-number
                  %input{"data-stripe" => "number", :size => "20", :type => "text", :class => "form-control", :required => "required", :id => "credit-card"}
              .form-group
                %label Exp. Date
                .exp-date
                  %input{"data-stripe" => "exp-month", :size => "2", :type => "text", :placeholder => "mm", :class => "form-control small-width", :required => "required", :maxlength => "2"}
                  %span 
                  %input{"data-stripe" => "exp-year", :size => "4", :type => "text", :placeholder => "yyyy", :class => "form-control small-width", :required => "required", :maxlength => "4"}
              .form-group
                %label CVC
                %span.c-med-gray.glyphicon.glyphicon-question-sign{'data-content' => "The CVC is usually a 3- or 4- digit number, typically printed on the back of a credit card", 'data-trigger' => 'hover', 'data-toggle' => 'popover', 'data-placement' => 'right'}
                .cvc
                  %input{"data-stripe" => "cvc", :size => "8", :type => "text", :class => "form-control small-width", :required => "required", :maxlength => "3"}
            %hr.m-y-20
            .text-center
              = f.submit "Register", class: "button btn btn-primary w-100"