=render :layout => 'shared/form_layout' do
  .row
    .col-xs-12.text-center#new-media
      %h1 Add Media to Reel
  .row.p-top-40
    .col-xs-12.col-md-6.col-md-offset-3
      = form_for :video, :url => {:controller => 'videos', :action => 'create'}, html: {id: 'media_upload'} do |f|
        .form-group
          %label Select milestone:
          .select-style#milestone_select
            = f.select(:milestone, options_for_select(@milestone_options.map {|m| [m[0], m[1], {'data-icon' => m[2]}]}), {include_blank: "None"}, { :class => 'selectpicker show-tick' })
        .form-group
          %label Select reel:
          #reel_select
            = f.collection_select(:reel_id, current_user.reels.all, :id, :name, {:selected => params[:reel], required: true}, {:class => 'selectpicker select-style show-tick'})
        .form-group
          = f.label :file, 'Select Media', class: "btn btn-default file-upload"
          = f.file_field :file, required: true, class: "upload", "data-print" => "#emp-image-print", style: 'display: none;'
          %p.text-center#emp-image-print.m-top-10
          %small
            %b Note: Uploading videos will upload to your Youtube account.
        .form-group
          %label Enter caption (100 word limit):
          = f.text_area :description, required: true, placeholder: 'Enter a caption here...', class: "form-control", rows: 2
        = f.submit 'Save', class: 'btn btn-info pull-right', id: 'submit-media'
        .preloader
          #image-upload-url{"data-image-upload-url" => "#{ images_path }"}
          = image_tag 'ajax-loader.gif', class: "preloader", alt: "Uploading...", title: "Uploading..."
          &nbsp; Uploading...
