=render :layout => 'shared/form_layout' do
  .row
    .col-xs-12.text-center#new-media
      %h1 Add Media to Reel
  .row.p-top-40
    .col-xs-12.col-md-6.col-md-offset-3
      = form_for :video, :url => {:controller => 'videos', :action => 'create'}, html: {id: 'media_upload'} do |f|
        .form-group
          %label Select reel:
          #reel_select
            = f.collection_select(:reel_id, current_user.reels.all, :id, :name, {:selected => params[:reel], required: true}, {:class => 'selectpicker select-style'})
        .form-group
          = f.label :file, 'Select Media', class: "btn btn-default file-upload"
          = f.file_field :file, required: true, class: "upload", "data-print" => "#emp-image-print", style: 'display: none;'
          %p.text-center#emp-image-print.m-top-10
        .form-group
          %label Enter caption:
          = f.text_area :description, required: true, placeholder: 'Enter a caption here...', class: "form-control", rows: 2
        = f.submit 'Save', class: 'btn btn-info w-100', id: 'submit-media'
        #image-upload-url{"data-image-upload-url" => "#{ images_path }"}
        = image_tag 'ajax-loader.gif', class: "preloader", alt: "Uploading...", title: "Uploading..."