<br><br>

 <div style="text-align: center" class="h2 no-top-margin" id: "new-media"> Upload an Image or Video </div>

<%= form_tag '', id: 'media_pre_upload' do %>

   <div class="form-group">
    <%= collection_select(:media, :reel_id, current_user.reels.all, :id, :name, :prompt => 'Please select reel', required: true,) %>          
  </div>

  <div id="upload-token-path" data-upload-token-path='<%= get_upload_token_path %>'></div>
  <div id="image-upload-url" data-image-upload-url='<%= images_path %>'></div>

  <div class="form-group">
    <%= text_field_tag :title, @pre_upload_info[:title], required: true, id: :title,
                       placeholder: 'Title', class: 'form-control' %>
  </div>
 
  <div class="form-group">
    <%= text_area_tag :description, @pre_upload_info[:description], required: true, id: :description,
                      placeholder: 'Description', class: 'form-control' %>
  </div>
<% end %>
 
<%= form_tag '', id: 'media_upload', multipart: true do %>

  <div id="upload_fields">
    <%= hidden_field_tag :token, '', id: :token %>
   
    <div class="form-group">
      <%= file_field_tag :file, required: true, id: :file %>
    </div>
  <div>
<% end %>
 
<button id="submit_pre_upload_form" class="btn btn-lg btn-primary">Upload</button>
<%= image_tag 'ajax-loader.gif', class: 'preloader', alt: 'Uploading...', title: 'Uploading...' %>

