<%= form_for :email_contact, url: email_contacts_path, :html => { :class => "form-inline"} do |f| %>

  <% if @email_contact.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@email_contact.errors.count, "error") %>
        prohibited this <%= @email_contact.class.to_s.underscore.humanize.downcase %>
        from being saved:
      </h2>
      <p>There were problems with the following fields:</p>
      <ul>
      <% @email_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>    
  <% end %>

  <div class="form-group">
    <%= f.email_field :email, class: 'form-control input-lg', placeholder: "Enter email"%>
  </div>
    <%= f.submit "Join launch list", class: "btn btn-danger btn-lg" %>
<% end %>