<%= form_for @email_contact, :html => { :class => "form-inline"} do |f| %>

  <% if @email_contact.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@email_contact.errors.count, "error") %>
        prevented this email from being saved:
      </h2>
      <ul>
      <% @email_contact.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
      </ul>
    </div>    
  <% end %>

  <div class="form-group">
    <%= f.email_field :email, class: 'form-control input-lg', placeholder: "Enter email"%>
  </div>
    <%= f.submit "Join launch list", class: "btn btn-danger btn-lg" %>
<% end %>