%li.media.m-bottom-20{"data-src" => "https://www.youtube.com/watch?v=#{medium.uid}", "data-sub-html" => "<div class='custom-html'>#{medium.description}</div>", "data-share-id" => "#{medium.id}"}
  .grid-item{:style => "background-image: url(http://img.youtube.com/vi/#{medium.uid}/0.jpg);"}
    =image_tag "http://img.youtube.com/vi/#{medium.uid}/0.jpg", style: "display: none;"
    =image_tag "video_arrow_right.png", class: "icon"
    .caption= medium.description.truncate(50)
    .grid-item-footer
      %ul.list-inline
        %li
          %a.media-share.footer-link{href: "#", "data-toggle" => "modal", "data-target" => "#share-modal", "data-share-id" => "#{medium.id}", "data-reel-id" => "#{@reel.id}"}
            =image_tag('share_icon.png')
        %li
          = link_to like_video_path(medium), method: :put, remote: true, class: "footer-link vote" do
            =image_tag('props_icon.png')
          %span{"data-id" => "#{medium.id}", class: "votes-count"}= medium.score
        %li
          =image_tag('comment_icon.png')
        -if current_user && current_user.id == @user.id
          %li
            %a.footer-link.media-edit{"data-toggle" => "modal", "data-target" => "#edit-modal", "data-medium" => "#{medium.id}"}
              =image_tag('pencil_icon.png')