.grid-container
  .row-fluid.grid
    %ul.list-inline
      %li.m-bottom-20
        - if current_user && current_user.id == @user.id
          = link_to new_video_path(reel: @reel) do
            .new-grid-item
              =image_tag "lt-turq_add.svg", height: 40
              %h4 Add Media
      - @reel.media.reverse.each do |medium|
        - if medium.is_a? Image
          %li.m-bottom-20
            %a.magnific{:href => medium.photo.url, :title => medium.description}
              .grid-item{:style => "background-image: url(#{medium.photo.url});"}
                - if medium.description.present?
                  .caption
                    %p= medium.description
                // Need to include image for Magnific popup
                %img{src: medium.photo.url, :style => "display: none"}
        - else
          %li.m-bottom-20
            %a.magnific.mfp-iframe{:href => "https://www.youtube.com/watch?v=#{medium.uid}", :title => medium.description}
              .grid-item{:style => "background-image: url(http://img.youtube.com/vi/#{medium.uid}/0.jpg);"}
                =image_tag "video_arrow_right.png"
                .caption
                  %p= medium.description
                %img{src: "http://img.youtube.com/vi/#{medium.uid}/0.jpg", :style => "display: none"}
