#edit-modal.modal.fade
  .modal-dialog
    .modal-content
      = form_for @reel, :html => { :method => :put, :multipart => true } do |f|
        .modal-header
          %h4 Edit Media
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
        .modal-body
          = f.fields_for :images do |builder|
            .modal-edit-media{id: "modal-edit-#{builder.object.id}", style: "display: none;"}
              .row
                .col-sm-2
                  = builder.label :milestone, "Milestone"
                .col-sm-10
                  .form-group
                    = builder.select(:milestone, [['Eureka', 'eureka', { 'data-icon' => 'fa-lightbulb-o' }], ['Mission Accomplished', 'mission_accomplished', { 'data-icon' => 'fa-flag-checkered' }], ['Challenge', 'challenge', { 'data-icon' => 'fa-exclamation-triangle' }], ['Victory', 'victory', { 'data-icon' => 'fa-trophy' }], ['Done', 'done', { 'data-icon' => 'fa-check-square' }], ['Experiment', 'experiment', { 'data-icon' => 'fa-flask' }], ['Lesson Learned', 'lesson_learned', { 'data-icon' => 'fa-bookmark' }] ], {include_blank: "None"}, { :class => 'selectpicker show-tick' })
              .row
                .col-sm-2
                .col-sm-10
                  = image_tag(builder.object.photo.url(:medium))
              .row
                .col-sm-2
                  = builder.label :description, "Caption (100 word limit)"
                .col-sm-10
                  = builder.text_area :description, class: "form-control", rows: 2
              .modal-footer
                = builder.check_box :_destroy, class: "pull-left"
                %span.pull-left.m-x-15 Delete Image?
                = f.submit "Save Changes", class: "btn-primary btn pull-right"
                %button.btn.pull-right{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  Cancel
          = f.fields_for :videos do |builder|
            .modal-edit-media{id: "modal-edit-#{builder.object.id}", style: "display: none;"}
              .row
                .col-sm-2
                  = builder.label :milestone, "Milestone"
                .col-sm-10
                  .form-group
                    = builder.select(:milestone, [['Eureka', 'eureka', { 'data-icon' => 'fa-lightbulb-o' }], ['Mission Accomplished', 'mission_accomplished', { 'data-icon' => 'fa-flag-checkered' }], ['Challenge', 'challenge', { 'data-icon' => 'fa-exclamation-triangle' }], ['Victory', 'victory', { 'data-icon' => 'fa-trophy' }], ['Done', 'done', { 'data-icon' => 'fa-check-square' }], ['Experiment', 'experiment', { 'data-icon' => 'fa-flask' }], ['Lesson Learned', 'lesson_learned', { 'data-icon' => 'fa-bookmark' }] ], {include_blank: "None"}, { :class => 'selectpicker show-tick' })
              .row
                .col-sm-2
                .col-sm-10
                  %iframe.youtube-player{type: "text/html", width: "263", height: "175", src: "http://www.youtube.com/embed/#{builder.object.uid}", "allowfullscreen" => "true", "frameborder" => "0", "rel" => "0"}
              .row
                .col-sm-2
                  = builder.label :description, "Caption"
                .col-sm-10
                  = builder.text_area :description, class: "form-control", rows: 2
              .modal-footer
                = builder.check_box :_destroy, class: "pull-left"
                %span.pull-left.m-x-15 Delete Video?
                = f.submit "Save Changes", class: "btn-primary btn pull-right"
                %button.btn.pull-right{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  Cancel
          = f.fields_for :stories do |builder|
            .modal-edit-media{id: "modal-edit-#{builder.object.id}", style: "display: none;"}
              .row
                .col-sm-2
                  = builder.label :milestone, "Milestone"
                .col-sm-10
                  .form-group
                    = builder.select(:milestone, [['Eureka', 'eureka', { 'data-icon' => 'fa-lightbulb-o' }], ['Mission Accomplished', 'mission_accomplished', { 'data-icon' => 'fa-flag-checkered' }], ['Challenge', 'challenge', { 'data-icon' => 'fa-exclamation-triangle' }], ['Victory', 'victory', { 'data-icon' => 'fa-trophy' }], ['Done', 'done', { 'data-icon' => 'fa-check-square' }], ['Experiment', 'experiment', { 'data-icon' => 'fa-flask' }], ['Lesson Learned', 'lesson_learned', { 'data-icon' => 'fa-bookmark' }] ], {include_blank: "None"}, { :class => 'selectpicker show-tick' })
              -if builder.object.photo.present?
                .row
                  .col-sm-2
                  .col-sm-10
                    =image_tag builder.object.photo.url, style: "width: 200px; height: 200px;"
              .row
                .col-sm-2
                  = builder.label :photo, "Photo"
                .col-sm-10
                  = builder.file_field :photo
              .row
                .col-sm-2
                  = builder.label :title, "Title"
                .col-sm-10
                  = builder.text_field :title, class: "form-control"
              .row
                .col-sm-2
                  = builder.label :body, "Story"
                .col-sm-10
                  = builder.cktext_area :body, class: "form-control", rows: 10, :ckeditor => {:uiColor => '#e5fcfb', :width => "90%"}
              .modal-footer
                = builder.check_box :_destroy, class: "pull-left"
                %span.pull-left.m-x-15 Delete Story?
                = f.submit "Save Changes", class: "btn-primary btn pull-right"
                %button.btn.pull-right{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  Cancel
