%a.teaser.clearfix{href: "/reels/#{reel.id}"}
  .teaser-head.clearfix
    .user-info.pull-left
      .avatar.pull-left{:style => "background-image: url(#{reel.user.avatar.url});"}
      %h4= reel.name
      %p= "#{reel.user.first_name} #{reel.user.last_name}"
    .view-all.pull-right
      %p.view-all VIEW ALL >
  .teaser-body
    %ul.list-inline.media-list
      - reel.media.order("position").take(4).each do |medium|
        - if medium.is_a? Image
          %li.teaser-media{:style => "background-image: url(#{medium.photo.url})"}
        - elsif medium.is_a? Video
          %li.teaser-media{:style => "background-image: url(http://img.youtube.com/vi/#{medium.uid}/0.jpg)"}
        - elsif medium.is_a? Story
          %li.teaser-media.teaser-story{:style => "background-image: url(#{medium.photo.url})"}
            .story-overlay
              %h4= medium.title
    %p= truncate(reel.description, length: 80)
  - interest = reel.interests
  - length = interest.length
  - media = (reel.images + reel.videos).sort{|a,b| b.updated_at <=> a.updated_at }
  .teaser-footer
    %ul.list-inline.interests.pull-left
      - interest.each_with_index do |interest, x|
        - if x+1 != length
          %li
            = interest.name
          %li.divider
        - else
          %li
            = interest.name
    %ul.pull-right.list-inline
      %li.views 
        =image_tag('views_icon.png')
        = reel.impressionist_count

