.teaser
  %a{href: "/reels/#{reel.id}"}
    - if reel.featured?
      .featured-teaser-reel-tag
        %span.featured-tag Featured!
    %ul.media-list
      - reel.media.order("position").take(1).each do |medium|
        - if medium.is_a? Image
          %li.teaser-media{:style => "background-image: url(#{medium.photo.url})"}
        - elsif medium.is_a? Video
          %li.teaser-media{:style => "background-image: url(http://img.youtube.com/vi/#{medium.uid}/0.jpg); background-size: 180%;"}
        - elsif medium.is_a? Story
          %li.teaser-media.teaser-story{:style => "background-image: url(#{medium.photo.url})"}
            .story-overlay-teaser
              %h1= truncate(medium.title, length: 1, omission: '')
    %br
    .reel-teaser-info
      %h3.name= truncate(reel.name, length: 35)
      = link_to user_path(reel.user) do
        %h5
          = reel.user.first_name
          = reel.user.last_name
          |
          = time_ago_in_words(reel.updated_at)
          ago
      %p= truncate(reel.description, length: 100)
      %br
      %h5
        %i.fa.fa-eye
        #{reel.impressionist_count} views
    %hr
