%section#timeline
  %section.timeline-container.container
    .timeline-vertical-line
    - if current_user && current_user.id == @user.id
      .add-new-media-container.m-bottom-20.dropdown
        -# = link_to pages_select_media_path(reel: @reel) do
        .btn.btn-default.add-new-media.dropdown-toggle{"type" => "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "true"}
          %i.fa.fa-plus-circle
          Add to Reel
        .notifications-dropdown.dropdown-menu
          %li.notification-item
            %a{:href => "/images/new?reel=#{@reel.id}"}
              =image_tag 'select_media_image.png'
              Add an image
          %li.notification-item
            %a{:href => "/videos/new?reel=#{@reel.id}"}
              =image_tag 'select_media_video.png'
              Add a video
          %li.notification-item
            %a{:href => "/stories/new?reel=#{@reel.id}"}
              =image_tag 'select_media_story.png'
              Add a story
    %section.media-section
      - @media.each do |medium|
        - if medium.is_a? Image
          = render :partial => 'reels/media_image', :locals => { :medium => medium }
        - if medium.is_a? Story
          =render :partial => 'reels/media_story', :locals => { :medium => medium }
        -if medium.is_a? Video
          = render :partial => 'reels/media_video', :locals => { :medium => medium }
  - if current_user && current_user.id == @user.id
    %section.timeline-bottom.timeline-blank
  - else
    %section.timeline-bottom.container
      .row
        .col-sm-10#timeline-bottom-container
          #timeline-bottom-teaser.text-center
            %h3
              Like what you see? Here are more reels from
              = link_to user_path(@reel.user) do
                = @user.first_name + " " + @user.last_name + "."
      .container#work
        .col-sm-10#timeline-related-reels
          #reels
            - @user.reels.each do |reel|
              =render :partial => 'shared/teaser', :locals => {:reel => reel}
          .jumbotron.bottom-jumbotron-cta.text-center
            %h2
              Feeling Inspired? Share Your Passion!
            %small
              Stories, videos, images. Anything goes. It's easy & fun!
            %br
            = link_to new_reel_path do
              .teaser
                %i.fa.fa-plus
                %br
                Create a reel
