<head>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
</head>

<!-- Heading --> 
<div class="h4 interest-bar container-917 welcome-to-evrystep">
  Welcome, <%= current_user.first_name %>!
</div>


<div id="how-it-works" class="welcome container-917">
  <div class="h3 how-it-works-main-heading">
    How Evrystep Works
  </div>
  <div class="centered-link">
    <%= link_to "See featured project", project_path(Project.find_by_id(8)) %>
  </div>
  <div class="container-917-color">
    <p class="h4 how-it-works-tagline">Rep what you do and energize the world through creative and athletic diversity.</p>
    <div id="how-it-works-create" class="how-it-works-left-div">
      <%= image_tag("how-it-works-project.png", :class => "how-it-works-image-left") %>
      <p class="h3 how-it-works-heading">Create</p>
      <p class="how-it-works-body">Create projects to share what you're working on or experimenting with. Tag your projects with interests for easy discovery.</p>
      <br><br><br>
    </div>
    <div id="how-it-works-explore" class="how-it-works-right-div">
      <%= image_tag("how-it-works-explore.png", :class => "how-it-works-image-right") %>
      <p class="h3 how-it-works-heading">Explore</p>
      <p class="how-it-works-body">Explore interest pages to discover new inspiration and new people.</p>
      <br><br><br><br>
    </div>

    <div id="how-it-works-follow" class="how-it-works-left-div">
      <%= image_tag("how-it-works-follow.png", :class => "how-it-works-image-left") %>
      <p class="h3 how-it-works-heading">Follow</p>
      <p class="how-it-works-body">Follow your favorite interests and people to get the latest delivered to your home feed.</p>
      <br> <!-- for clearfix -->
    </div>
  </div>
</div>
<br><br>

<div class="centered-button">
  <%= render "shared/create_project_button" %>
</div>
<br>

<!-- Heading --> 
<div class="h3 container-917 featured-project">
  Featured Project
</div>

<!-- Featured Projects -->
<%= render "shared/project" %>


