<head>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
</head>

<div style="background-color: black">
  <%= render "shared/nav" %>
</div>

<!-- Heading --> 
<div class="h4 interest-bar container-917 welcome-to-evrystep">
  Welcome, <%= current_user.first_name %>!
</div>
<p class="h4 how-it-works-tagline">Create projects that highlight your unique journey.</p>


<div id="how-it-works" class="welcome container-917">
  <!--<div class="h3 how-it-works-main-heading">
    How It Works
  </div>-->
  <!--<div class="centered-link">
    <%#= link_to "See featured project", project_path(Project.find_by_id(8)) %>
  </div>-->
  <div class="container-917-color">
    <div class="h3 how-it-works-main-heading">
      How Evrystep Works
    </div>
    <!--<p class="h4 how-it-works-tagline">Rep what you do and energize the world through creative and athletic diversity.</p>-->
    <!--<p class="h4 how-it-works-tagline">Create projects to capture and share what you love to do.</p>-->
    <div id="how-it-works-create" class="how-it-works-left-div">
      <%= image_tag("how-it-works-project.png", :class => "how-it-works-image-left") %>
      <p class="h3 how-it-works-heading">Create Projects</p>
      <!--<p class="how-it-works-body">Create projects to share what you're working on or experimenting with. Tag your projects with interests for easy discovery.</p>
      <%#= link_to "See featured project", project_path(Project.find_by_id(8)) %>-->
      <p class="how-it-works-body">Learning a new dance style? Entering a special competition? Projects are collections of videos and images designed to capture and share your experiences. </p>
      <br><br>
    </div>
    <div id="how-it-works-explore" class="how-it-works-right-div">
      <%= image_tag("how-it-works-explore.png", :class => "how-it-works-image-right") %>
      <p class="h3 how-it-works-heading">Explore</p>
      <p class="how-it-works-body">Explore interest pages to discover inspiration and people.</p>
      <br><br>
    </div>

    <div id="how-it-works-follow" class="how-it-works-left-div">
      <%= image_tag("how-it-works-follow.png", :class => "how-it-works-image-left") %>
      <p class="h3 how-it-works-heading">Follow</p>
      <p class="how-it-works-body">Follow your favorite interests and people to customize your home feed.</p>
      <br> <!-- for clearfix -->
    </div>
  </div>
</div>
<br>





