= render 'shared/nav'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.3/jquery.timeago.min.js'
.reel-page.reel-page-explore
  .container
    .hero
      .content-container.interest-header
        %h3
          Explore the imagination behind
          .dropdown.header-explore
            %a.dropdown-toggle.explore{"data-toggle" => "dropdown", :href => "#"}
              ="Everything"
              %b.caret.m-left-5
            - interest = Interest.all
            %ul.dropdown-menu
              %li= link_to "Everything", "/interests"
              - interest.each do |interest|
                %li= link_to interest.name, "/interests/#{interest.id}"
          / - unless @tags.length < 1
          /   %ul.list-inline.m-bottom-10.interests.hidden-xs
          /     - @tags.each do |tag|
          /       %li.interest-tags.tag-select{:value => "#{tag}"}
          /         = tag

.page
  .page-content
    .tab-content
      .content-container.tab-pane.active#reels{role: "tabpanel"}
        - @reels.each do |reel|
          -if reel.media.length > 0
            =render :partial => 'shared/teaser', :locals => {:reel => reel}
      .jumbotron.bottom-jumbotron-cta.text-center
        %h2
          Feeling Inspired? Share Your Passion!
        Stories, videos, images. Anything goes. It's easy & fun!
        %br
        = link_to new_reel_path do
          .teaser
            %i.fa.fa-plus
            %br
            Create a reel
      .container.text-center.reel-cta-footer
        %h3
          Discover reels from more passion topics
        - interest = Interest.all
        %ul.list-inline
          - interest.each do |interest|
            %li= link_to interest.name, "/interests/#{interest.id}"
