<div class="panel panel-default">
	<div class="panel-heading">
    <h2><%= @interest.name %></h2>
  </div>
	<div class="panel-body">
	<div class="row">
		<div class="col-md-3">
			<div id="join">
			  <% if user_signed_in? %>
			  	<%= button_to "Join", user_interests_path(id: @interest), method: :post, class:"btn btn-danger btn-sm" %>
			  <% end %>
			  <%#= @users.count %> <!--members-->
			</div>
			<!--<div>
				<%#= image_tag "waacking_thumbnail.jpg" %>
			</div>
			<br>-->
			<h6>Description</h6>
			<hr>
			<p><%= @interest.description %></p>
			<!--<h6>History</h6>
			<hr>
			<p><%= @interest.history %></p>-->
			<div id="members">
				<h6>Members (<%= @users.count %>)</h6>
				<hr>
			    <% @users.each do |user| %>
			      <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %><br>
			    <% end %>
			</div>
		</div>
		<div class="col-md-9">
			<!--<div>
				<%= image_tag "waacking_headpic.jpg" %>
			</div>
			<br>	-->		
			<h5>Activity</h5>
			<hr>
			<br>
				<% @workshops.each do |workshop| %>
					<%= link_to workshop.user.first_name, workshop.user %> is hosting a workshop: <br>
					<%= link_to workshop.title, workshop_path(workshop) %><br><br>
				<% end %>			
		</div>
	</div>
	</div>
</div>


