.page
  .hero-image{style: "background-image: url(#{@interest.cover_photo.url(:large)});"}
    .page-hero
      = render 'shared/nav'
      .page-info
        %h1= @interest.name
        %h4.m-top-1= @interest.description
  .tabs
    .row-fluid
      .content-container
        %ul.list-inline
          %li
            %a{href: "#work", role: "tab", "data-toggle" => "tab"} Reels
        %select#tag-select.select-style{:name => "tags"}
          - @tags.each do |tag|
            %option{:value => "#{tag.name}", class: "tag-option"}= tag.name

  .page-content
    .tab-content
      .container.tab-pane#timeline{role: "tabpanel"}
        .row
          = render partial: 'shared/timeline', locals: { reels: @reels }
      .content-container.tab-pane.active#reels{role: "tabpanel"}
        - @reels.each do |reel|
          %a{href: "/reels/#{reel.id}"}
            .teaser
              %h2= reel.name
              - interest = reel.interests
              - length = interest.length
              %ul.list-inline
                - interest.each_with_index do |interest, x|
                  - if x+1 != length
                    %li
                      = link_to(interest.name, "/interests/#{interest.id}/about")
                    %li.divider
                  - else
                    %li
                      = link_to(interest.name, "/interests/#{interest.id}/about")
              %ul.list-inline
                - reel.media.take(4).each do |medium|
                  - if medium.is_a? Image
                    %li.teaser-media{:style => "background-image: url(#{medium.photo.url})"}
                  - else # Video
                    %li.teaser-media{:style => "background-image: url(http://img.youtube.com/vi/#{medium.uid}/0.jpg)"}
                %p= truncate(reel.description, length: 125)
