.reel-page
  .container
    = render 'shared/light_nav'
    .hero
      .container
        =link_to @interest do
          %h1.text-center.m-bottom-10= @interest.name
        %h4= @interest.description 
.page
  .tabs
    .row-fluid
      .content-container
        %ul.list-inline
          %li
            %a{href: "#work", role: "tab", "data-toggle" => "tab"} Reels
        - unless @tags.length < 1
          %select#tag-select.select-style{:name => "tags"}
            %option{:value => "all", class: "tag-option", disabled: "disabled", selected: "true"} Select a tag
            - @tags.each do |tag|
              %option{:value => "#{tag.name}", class: "tag-option"}= tag.name

  .page-content
    .tab-content
      .content-container.tab-pane.active#reels{role: "tabpanel"}
        / - @reels.each do |reel|
        /   %a{href: "/reels/#{reel.id}"}
        /     .teaser
        /       %h2= reel.name
        /       - interest = reel.interests
        /       - length = interest.length
        /       %ul.list-inline
        /         - interest.each_with_index do |interest, x|
        /           - if x+1 != length
        /             %li
        /               = link_to(interest.name, "/interests/#{interest.id}/about")
        /             %li.divider
        /           - else
        /             %li
        /               = link_to(interest.name, "/interests/#{interest.id}/about")
        /       %ul.list-inline
        /         - reel.media.take(4).each do |medium|
        /           - if medium.is_a? Image
        /             %li.teaser-media{:style => "background-image: url(#{medium.photo.url})"}
        /           - else # Video
        /             %li.teaser-media{:style => "background-image: url(http://img.youtube.com/vi/#{medium.uid}/0.jpg)"}
        /         %p= truncate(reel.description, length: 125)
        - @reels.each do |reel|
          %a{href: "/reels/#{reel.id}"}
            .teaser
              %h2= reel.name
              / = link_to user_path(reel.user) do
              /   .avatar{:style => "background-image: url(#{@user.avatar.url});"}
              /   %h5= reel.user.first_name + " " + reel.user.last_name
              .container
                .row-fluid
              %ul.list-inline.media-list
                - reel.media.take(4).each do |medium|
                  - if medium.is_a? Image
                    %li.teaser-media{:style => "background-image: url(#{medium.photo.url})"}
                  - else # Video
                    %li.teaser-media{:style => "background-image: url(http://img.youtube.com/vi/#{medium.uid}/0.jpg)"}
              %p= truncate(reel.description, length: 120)
              .row-fluid
                /.col-xs-12
                / .tags
                /   =reel.tag_list.join(", ")
                - interest = reel.interests
                - length = interest.length
                - media = (reel.images + reel.videos).sort{|a,b| b.updated_at <=> a.updated_at }
                %ul.list-inline.interests
                  - interest.each_with_index do |interest, x|
                    - if x+1 != length
                      %li
                        = interest.name
                      %li.divider
                    - else
                      %li
                        = interest.name
