<div class="project-container">
  
    <div class="project-heading"><%= @project.name %></div>
    <div class="project-subheading">by <%= link_to @project.user.first_name, user_path(@project.user) %><br>
    <%= @project.description %><br>
      <div class="project-tags">
        <% @project.interests.each do |interest| %>
          <%= link_to interest.name, interest_path(interest) %>
        <% end %>
      </div>
    </div><br>

  <div id="masonry-container" class="js-masonry" data-masonry-options='{ "isFitWidth": true }'>
    <% @media.each do |media| %>
      <div class="thumbnail four-grid", style="text-align: center">
        <% if media.is_a? Image %>
          <%= image_tag(media.photo.url(:medium)) %>
        <% else %>
          <iframe width="450" height="300" seamless src="//www.youtube.com/embed/<%= YoutubeID.from("#{media.url}") %>?rel=0" frameborder="0" allowfullscreen></iframe>
        <% end %>
        <!-- <h4><%= media.caption %></h4> -->
      </div>
    <% end %>
  </div>
</div>