<!-- Edit Links -->
<% if @project.user.present? %>
  <% if current_user.id == @project.user.id %>
    <ul class="nav nav-pills">
    <!-- Above renders error when no user signed in, but someone tries to view post -->
      <li><%= link_to "show project", :back %></li>
      <li><%= link_to "delete project", project_path(@project), method: :delete %></li>
    </ul>
  <% end %>
<% end %>

<%= form_for @project, url: project_path(@project), method: :put, :html => {:multipart => true, :class => 'well form-horizontal'} do |f| %>

  <fieldset>

    <h2 style="text-align: center">Editing Project</h2><br>

    <div class="form-group">  
      <div class="controls">
        <%= f.label :name, :class => 'col-sm-2 h4 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :name, :class => 'form-control input-lg' %>
        </div>
      </div>  
    </div>

    <div class="form-group">
      <div class="controls">
        <%= f.label :description, :class => 'col-sm-2 h4 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :description, :class => 'form-control input-lg' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <%= f.label "Categories", :class => 'col-sm-2 h4 control-label' %>
        <div class="col-sm-10">
          <% Interest.all.each do |interest| %>
            <%= hidden_field_tag "project[interest_ids][]", nil %>
            <%= check_box_tag "project[interest_ids][]", interest.id, @project.interest_ids.include?(interest.id) %>
            <!-- TODO Add label_tag for better UI - see Rails Cast 17 -->
            <%= interest.name %><br>
          <% end %>
          <span class="help-block">select all that apply</span>
        </div>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <div class="controls">
        <%= f.label :cover, "Project cover", :class => 'col-sm-2 h4 control-label' %>
        <div class="col-sm-10">
          <%= image_tag(@project.cover.url(:medium)) %><br>
          <%= f.label "Choose a new cover image", :class => 'control-label' %>
          <%= f.file_field :cover %><br>
        </div>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <div class="controls">
        <%= f.label "Project media", :class => 'col-sm-2 h4 control-label' %>
        <div class="col-sm-10">
          <%= link_to_add_fields "Add new image", f, :images, class: "btn btn-default" %><br><br>
          <%= link_to_add_fields "Add new video", f, :videos, class: "btn btn-default" %><br><br>

          <%= f.fields_for :images do |builder| %>
            <%= image_tag(builder.object.photo.url(:medium)) %><br>
            <%= builder.text_field :photo_file_name, readonly:true %><br>
            <%= builder.label :caption %>
            <%= builder.text_field :caption %><br>
            <%= builder.check_box :_destroy %>
            <%= builder.label :_destroy, "Remove image" %><br>
            <br>
          <% end %>
          <%= f.fields_for :videos do |builder| %>
            <iframe width="295" height="194" seamless src="//www.youtube.com/embed/<%= YoutubeID.from("#{builder.object.url}") %>?rel=0" frameborder="0" allowfullscreen></iframe>
            <%= builder.text_field :url, readonly:true %><br>
            <%= builder.label :caption %>
            <%= builder.text_field :caption %><br>
            <%= builder.check_box :_destroy %>
            <%= builder.label :_destroy, "Remove video" %><br>
            <br>
          <% end %>
        </div>
      </div>
    </div>

    <hr>

    <div class="form-actions">
      <%= f.submit "Save Changes", :class => 'btn btn-danger btn-lg' %>
    </div>

  </fieldset>
<% end %>