<!-- Edit Links -->
<div class="edit-links-container">
<% if @project.user.present? %>
  <% if current_user.id == @project.user.id %>
    <ul class="nav nav-pills">
    <!-- Above renders error when no user signed in, but someone tries to view post -->
      <li><%= link_to "edit project", edit_project_path(@project) %></li>
      <li><%= link_to "delete project", project_path(@project), method: :delete %></li>
    </ul>
  <% end %>
<% end %>
</div>

<!-- Project -->
<div class="project-cover-container animated bounceOutDown">
<%= image_tag(@project.cover.url(:large), :class => "project-cover ") %>
</div>

<% if @project.project_layout=="four_element_grid" %>
  <%= render "four_element_grid" %>
<% elsif @project.project_layout=="five_element_grid" %>
  <%= render "five_element_grid" %>
<% elsif @project.project_layout=="nine_element_grid" %>
  <%= render "nine_element_grid" %>
<% else %>

<div class="project-container">
  
    <div class="project-heading"><%= @project.name %></div>
    <div class="project-subheading">by <%= link_to @project.user.first_name, user_path(@project.user) %><br>
    <%= @project.description %><br>
      <div class="project-tags">
        <% @project.interests.each do |interest| %>
          <%= link_to interest.name, interest_path(interest) %>
        <% end %>
      </div>
    </div><br>

  <div id="masonry-container" class="js-masonry" data-masonry-options='{ "isFitWidth": true }'>
    <% @media.each do |media| %>
      <div class="thumbnail four-grid", style="text-align: center">
        <% if media.is_a? Image %>
          <%= image_tag(media.photo.url(:medium)) %>
        <% else %>
          <iframe width="450" height="300" seamless src="//www.youtube.com/embed/<%= YoutubeID.from("#{media.url}") %>?rel=0" frameborder="0" allowfullscreen></iframe>
        <% end %>
        <!-- <h4><%= media.caption %></h4> -->
      </div>
    <% end %>
  </div>
</div>

<% end %>