.row.media-container{:id => "media-#{medium.id}"}
  .section-description.col-sm-2
    - unless medium.milestone.blank?
      .timeline-teaser.text-center
        %i.fa{:class => @milestone_icons[medium.milestone], :style => "font-size:30px;"}
      .milestone-label.text-center
        %small= medium.milestone.split("_").map(&:capitalize).join(" ")
    - else
      .timeline-teaser{:style => "background-image: url(#{medium.photo.url})"}
    .date-label.text-center
      = medium.created_at.strftime("%b %-d, %Y")
  .section-media.col-sm-7
    .section-photo-container
      %p.timeline-description
        %h3.story-title= medium.description.split(/\s+/, 5+1)[0...5].join(' ').to_s
        -if medium.description.split(' ').length > 5
          = medium.description.split(' ')[5..100].join(' ').to_s
        -if current_user && current_user.id == @user.id
          %a.media-edit{"data-toggle" => "modal", "data-target" => "#edit-modal", "data-medium" => "#{medium.id}"}
            %i.fa.fa-pencil-square-o
            Edit
      %img.section-photo{"src" => "#{medium.photo.url}"}
      .media-engagement-icon
        = render partial: 'shared/engagement_icons', :locals => { :medium => medium, :title => "#{truncate(medium.description, length: 25)}", :like_path => like_image_path(medium), :share_image => "#{medium.photo.url}"}
    %input.comment-toggle-check.hidden{:type => "checkbox", :id => "comments-toggle-id-#{medium.id}"}
    .media-comment-section{:id => "comments-id-#{medium.id}"}
      - if current_user
        .row-fluid.m-top-20
          .col-sm-2
            .timeline-teaser{style: "background-image:url(#{current_user.avatar.url})"}
          .col-sm-10
            = render :partial => 'comments/form', :locals => { :comment => Comment.build_from(medium, current_user.id, "") }
      - else
        = render :partial => 'comments/form_login'
      = render :partial => 'comments/comment', :collection => medium.root_comments.order('created_at desc'), :as => :comment, :locals => { :reel_user => @user.id }
