<%= render 'shared/light_nav' %>

<br>
<%= form_for @reel, :html => { :method => :put, :multipart => true, :class => 'form-horizontal' } do |f| %>

  <fieldset>
    <h2 style="text-align: center">Editing Reel</h2><br>
    <div class="text-center">
      <%= link_to "Cancel", reel_path(@reel), class: "btn btn-default" %>
    </div>
    <br>  

    <div class="form-group">
      <div class="controls">
        <%= f.label :name, :class => 'col-sm-2 h4 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :name, :class => 'form-control input-lg' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <%= f.label "Interests", :class => 'col-sm-2 h4 control-label' %>
        <div class="col-sm-10">
          <% Interest.all.each do |interest| %>
            <%= hidden_field_tag "reel[interest_ids][]", nil %>
            <%= check_box_tag "reel[interest_ids][]", interest.id, @reel.interest_ids.include?(interest.id) %>
            <!-- TODO Add label_tag for better UI - see Rails Cast 17 -->
            <%= interest.name %><br>
          <% end %>
          <span class="help-block">select all that apply</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <%= f.label "Reel media", :class => 'col-sm-2 h4 control-label' %>
        <div class="col-sm-10">
          <%= f.fields_for :images do |builder| %>
            <%= image_tag(builder.object.photo.url(:medium)) %><br>
            <%= builder.label :description %>
            <%= builder.text_field :description %><br>
            <%= builder.check_box :_destroy %>
            <%= builder.label :_destroy, "Remove image" %><br>
            <br>
          <% end %>
          <%= f.fields_for :videos do |builder| %>
            <iframe width="450" height="296" seamless src="//www.youtube.com/embed/<%= YoutubeID.from("#{builder.object.uid}") %>?rel=0" frameborder="0" allowfullscreen></iframe><br>
            <%= builder.label :description %>
            <%= builder.text_field :description %><br>
            <%= builder.check_box :_destroy %>
            <%= builder.label :_destroy, "Remove video" %><br>
            <br>
          <% end %>
        </div>
      </div>
    </div>

<!-- Temp edit media fields -->

    <%#= f.text_field :description %><br>



    <div class="form-actions text-center">
      <%= f.submit "Save changes", :class => 'btn btn-primary btn-lg' %>
    </div>

  </fieldset>
<% end %>

<br>
<hr>


<div class="form-actions text-center">
  <%= button_to "Delete Reel", reel_path(@reel), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-default btn-lg' %>
</div>
<br>

<%#= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-lg' %>