=render :layout => 'shared/form_layout' do
  .row-fluid
    .col-xs-12.text-center#new-media
      %h1 Edit Reel
    = form_for @reel, :html => { :method => :put, :multipart => true } do |f|
      .row.p-top-40
        .col-xs-12.col-md-6.col-md-offset-3
          .form-group
            %label{for: "name"} Name:
            = f.text_field :name, class: "form-control"
          .form-group
            %label{for: "description"} Description:
            = f.text_area :description, class: "form-control", rows: 3
          .form-group
            %label{for: "interests"} Interests:
            %span.help-block Choose the interests the best describe your reel.
            - Interest.all.each do |interest|
              = hidden_field_tag "reel[interest_ids][]", nil
              = check_box_tag "reel[interest_ids][]", interest.id, @reel.interest_ids.include?(interest.id)
              = interest.name
              %br
      .row-fluid
        %label{for: "media"} Drag to Reorder:
        %script{:src => "http://code.jquery.com/jquery-1.7.2.min.js"}
        %script{:src => "http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"}
        %script{:src => "/app/assets/javascripts/jquery.ui.touch-punch.min.js"}
        %ul.list-inline.form-group.edit-grid.clearfix#reeldrag{"data-update-url" => sort_reels_url}
          - @media.each do |medium|
            - if medium.is_a? Image
              %li{class: "medium", id: "medium_#{medium.id}"}
                .edit-item{:style => "background-image: url(#{medium.photo.url})"}
                / = image_tag(medium.photo.url(:medium))
            - elsif medium.is_a? Video
              %li{class: "medium", id: "medium_#{medium.id}"}
                .edit-item{:style => "background-image: url(http://img.youtube.com/vi/#{medium.uid}/0.jpg)"}
        / .form-group
        /   = f.label :tag_list, "Tags (separated by commas)"
        /   = f.text_field :tag_list
        %hr.m-y-20
        .text-center
          = f.submit "Save Changes", class: "button btn btn-primary w-100", id: "sort_reel"       
.container          
  .container
    .form
      .row
        .col-xs-12.text-center#account-settings
          %h4 Delete Reel
      .row.p-top-20
        .col-xs-12.col-md-6.col-md-offset-3.text-center
          %span You will not be able to access any media in your reel once it's deleted.
          %hr.m-y-20
            .text-center
              = button_to "Delete Reel", reel_path(@reel), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "button btn btn-default w-100"
