<br><br>
<%= form_for @reel, url: reels_path, :html => { :multipart => true, :class => 'well form-horizontal' } do |f| %>

  <%= render 'shared/error_messages', :object => f.object %>

  <fieldset>
    <div style="text-align: center" class="h2 no-top-margin">Create Reel</div>

    <div class="project-form">reel is a collection of videos and images that showcase what you do. </p>
      <%#= link_to "See example project", project_path(Project.find_by_id(8)) %>
    </div>
    <br><br>

    <div class="form-group">  
      <div class="controls">
        <%= f.label :name, :class => 'col-sm-2 h4 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :name, :class => 'form-control input-lg', :placeholder => 'your reel\'s name' %>
        </div>
      </div>  
    </div>

    <div class="form-actions">
      <%= f.submit "Done", :class => 'btn btn-danger btn-lg' %>
    </div>

  </fieldset>
<% end %>