.container
  = render 'shared/light_nav'
  .container.p-y-40
    %div{style: "background-color: #f3f3f3; border-radius: 10px; margin: 0 auto; padding: 50px; width: 80%;"}
      .row
        .col-xs-12.text-center#new-reel
          %h1 Create Reel
      .row.p-top-40
        .col-xs-12.col-md-6.col-md-offset-3
          = form_for :reel, url: reels_path, :html => { :multipart => true } do |f|
            .form-group
              %label{for: "name"} Name:
              = f.text_field :name, :placeholder => 'Name your reel', class: "form-control"
            .form-group
              %label{for: "description"} Description:
              = f.text_area :description, :placeholder => 'Describe your reel', class: "form-control"
            .form-group
              %label{for: "interests"} Interests:
              %span.help-block Choose the interests the best describe your reel.
              - Interest.all.each do |interest|
                = hidden_field_tag "reel[interest_ids][]", nil
                = check_box_tag "reel[interest_ids][]", interest.id
                = interest.name
                %br
            .form-group
              = f.label :tag_list, "Tags (separated by commas)"
              = f.text_field :tag_list
            %hr.m-y-20
            .text-center
              = f.submit "Save", class: "button btn btn-primary w-100"
