- content_for :head do
  %meta{ property: "og:title", content: @reel.name }
  %meta{ property: "og:type", content: "website" }
  %meta{ property: "og:url", content: reel_url(@reel) }
  - if @reel.media.any?
    - if @reel.media.last.is_a? Video
      %meta{property: "og:image", content: "http://img.youtube.com/vi/#{@reel.media.last.uid}/0.jpg" }
      %meta{property: "og:video", content: "http://www.youtube.com/v/#{@reel.media.last.uid}"}
    - elsif @reel.media.last.is_a? Image
      %meta{property: "og:image", content: URI.join(request.url, @reel.images.last.photo.url)}
  %meta{ property: "og:description", content: reel_description }
  %meta{ name: "twitter:card", content: "summary_large_image" }
  %meta{ name: "twitter:site", content: "@Evrystep" }
  %meta{ name: "twitter:title", content: "Evrystep Reel" }
  %meta{ name: "twitter:description", content: reel_description }
  %meta{ name: "twitter:image", content: reel_image }
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
- media = @images.zip(@videos).flatten.compact
%div#fb-root{"data-fb-app-id" => ENV['FACEBOOK_APP_ID']}
= render 'shared/nav'
= render 'shared/modal_share'
-if owned_by_current_user?
  = render 'shared/modal_edit'
  = render 'shared/modal_add_credit'
.reel-page
  = render partial: 'credits/respond_to_invitation'
  .reel-header-container
    .container
      .row.hero
        .col-sm-2
          .avatar-container
            = link_to user_path(@reel.user) do
              .avatar{:style => "background-image: url(#{@user.avatar.url});"}
            %br
            %small.reel-artist-name
              %i
                by
                %b
                  = link_to @user.first_name + " " + @user.last_name, user_path(@reel.user)
            %small.reel-artist-name
              %i.fa.fa-info-circle
              %span
                = @user.description
            %small.reel-artist-name
              %i.fa.fa-map-marker
              %span
                = @user.location
            %br
        .col-sm-9.reel-header
          .reel-top-header
            -if @reel.featured?
              .featured-reel-tag
                %span.featured-tag Featured!
            - interest = @reel.interests
            - length = interest.length
            %ul.list-inline.m-bottom-10
              - interest.each_with_index do |interest, x|
                - if x+1 != length
                  %li.interest-tags
                    %i.fa.fa-tag
                    %span
                      = link_to(interest.name, "/interests/#{interest.id}")
                  /%li.divider
                - else
                  %li.interest-tags
                    %i.fa.fa-tag
                    %span
                      = link_to(interest.name, "/interests/#{interest.id}")
          %h3.reel-name-header.m-bottom-5.m-top-10
            = @reel.name
            - if current_user && current_user.id == @user.id
              = link_to edit_reel_path(@reel) do
                %i.fa.fa-pencil-square
                Edit
          .share-button-mobile
            .share-line
            .share-triangle
            .share-triangle-right
            %a.media-share{href: "#", "data-toggle" => "modal", "data-target" => "#share-modal", "data-reel-id" => "#{@reel.id}"}
              .share-circle.text-center
                %i.fa.fa-share-alt
                Share!
          %h5.reel-description
            %i.fa.fa-eye
            #{@reel.impressionist_count} views
            &nbsp;
            %i.fa.fa-image
            #{@reel.media.count} media
          %p.reel-description= @reel.description
  .reel-sticky-cta-bg
    .reel-sticky-cta.container#reel-sticky-anchor
      .share-button
        .share-line
        .share-triangle
        %a.media-share{href: "#", "data-toggle" => "modal", "data-target" => "#share-modal", "data-reel-id" => "#{@reel.id}"}
          .share-circle.text-center
            %i.fa.fa-share-alt
            Share!
      %ul.list-inline.reel-view-options
        %li.reel-view-item{:style => "border-bottom: medium solid rgb(16, 187, 167)", "data-target" => "#timeline", "data-toggle" => "tab"}
          %i.fa.fa-list
          %p Timeline
        %li.reel-view-item{"data-target" => "#grid", "data-toggle" => "tab"}
          %i.fa.fa-th-large
          %p Grid
        %li.reel-view-item.dropdown
          .dropdown-toggle#credits{"type" => "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "true"}
            %i.fa.fa-group
            %p Credits
          %ul.reel-credit-list.dropdown-menu{"aria-labelledby" => "credits"}
            - if owned_by_current_user?
              %a.add-credit-button{"data-toggle" => "modal", "data-target" => "#add-credit-modal"}
                %i.fa.fa-plus-circle
                Add Credit to the Reel
            - else
              - if @credits.blank?
                %p= "#{@reel.name} has no credits yet."
            - @credits.each do |credit|
              - if owned_by_current_user?
                - if credit.pending?
                  %li.reel-credit-item.reel-credit-pending
                    %p.reel-credit-role= credit.role.upcase
                    - if credit.receiver.nil?
                      %strong
                        = "#{credit.credit_receiver_email} (pending)"
                        = link_to reel_credit_path(@reel.id, credit.id), method: :delete do
                          %i.fa.fa-times-circle.credit-delete
                    - else
                      = link_to user_path(credit.receiver) do
                        %img.credit-avatar{:style => "background-image: url(#{credit.receiver.avatar.url});"}
                      %strong
                        = link_to "#{credit.receiver.first_name} #{credit.receiver.last_name} (pending)", user_path(credit.receiver)
                        = link_to reel_credit_path(@reel.id, credit.id), method: :delete do
                          %i.fa.fa-times-circle.credit-delete
              - if credit.accepted?
                %li.reel-credit-item
                  %p.reel-credit-role= credit.role.upcase
                  - if credit.receiver.nil?
                    %strong
                      = credit.credit_receiver_email
                      - if current_user && current_user.id == @user.id
                        = link_to reel_credit_path(@reel.id, credit.id), method: :delete do
                          %i.fa.fa-times-circle.credit-delete
                  - else
                    = link_to user_path(credit.receiver) do
                      %img.credit-avatar{:style => "background-image: url(#{credit.receiver.avatar.url});"}
                    %strong
                      = link_to "#{credit.receiver.first_name} #{credit.receiver.last_name}", user_path(credit.receiver)
                      - if owned_by_current_user?
                        = link_to reel_credit_path(@reel.id, credit.id), method: :delete do
                          %i.fa.fa-times-circle.credit-delete
  .tab-content
    #timeline.tab-pane.active
      = render 'shared/timeline'
    #grid.tab-pane
      = render 'shared/grid'
