- content_for :head do
  %meta{ property: "og:title", content: @reel.name }
  %meta{ property: "og:type", content: "website" } 
  %meta{ property: "og:url", content: reel_url(@reel) } 
  %meta{ property: "og:image", content: user_image }
  %meta{ property: "og:description", content: reel_description }
- media = @images.zip(@videos).flatten.compact
%div#fb-root{"data-fb-app-id" => ENV['FACEBOOK_APP_ID']}
= render 'shared/nav'
-if current_user && current_user.id == @user.id
  = render 'shared/modal_edit'
.reel-page
  .container
    .hero
      .container
        %h1.text-center.m-bottom-10= @reel.name
        %h4= @reel.description  
        - interest = @reel.interests
        - length = interest.length
        %ul.list-inline.m-bottom-10.interests
          - interest.each_with_index do |interest, x|
            - if x+1 != length
              %li
                = link_to(interest.name, "/interests/#{interest.id}")
              %li.divider
            - else
              %li
                = link_to(interest.name, "/interests/#{interest.id}")
  .link-bar
    .container
      .row-fluid
        .col-md-4.user
          = link_to user_path(@reel.user) do
            .avatar{:style => "background-image: url(#{@user.avatar.url});"}
            %h5= @user.first_name + " " + @user.last_name
        .col-md-4.views
          %h4.p-top-10 #{@reel.impressionist_count} views
        .col-md-2.links
          .fb-share-button{"data-href" => share_object('reel'), "data-layout" => "button"}
        .col-md-2.links
          - if current_user && current_user.id == @user.id        
            = link_to "Edit Reel", edit_reel_path(@reel), class: "btn btn-default edit-reel"

  .reel
    = render 'shared/grid'
