- content_for :head do
  %meta{ property: "og:title", content: @reel.name }
  %meta{ property: "og:type", content: "website" } 
  %meta{ property: "og:url", content: reel_url(@reel) }
  - if @reel.media.any?
    - if @reel.media.last.is_a? Video
      %meta{property: "og:image", content: "http://img.youtube.com/vi/#{@reel.media.last.uid}/0.jpg" }
      %meta{property: "og:video", content: "http://www.youtube.com/v/#{@reel.media.last.uid}"}
    - elsif @reel.media.last.is_a? Image
      %meta{property: "og:image", content: URI.join(request.url, @reel.images.last.photo.url)}
  %meta{ property: "og:description", content: reel_description }
  %meta{ name: "twitter:card", content: "summary_large_image" }
  %meta{ name: "twitter:site", content: "@Evrystep" }
  %meta{ name: "twitter:title", content: "Evrystep Reel" }
  %meta{ name: "twitter:description", content: reel_description }
  %meta{ name: "twitter:image", content: reel_image }
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
- media = @images.zip(@videos).flatten.compact
%div#fb-root{"data-fb-app-id" => ENV['FACEBOOK_APP_ID']}
= render 'shared/nav'
-if current_user && current_user.id == @user.id
  = render 'shared/modal_edit'
-if @user.featured_artist?
  = render 'featured'
- else
  .reel-page
    .container
      .hero
        .container
          %h1.text-center.m-bottom-10= @reel.name
          %h4= @reel.description  
          - interest = @reel.interests
          - length = interest.length
          %ul.list-inline.m-bottom-10.interests
            - interest.each_with_index do |interest, x|
              - if x+1 != length
                %li
                  = link_to(interest.name, "/interests/#{interest.id}")
                %li.divider
              - else
                %li
                  = link_to(interest.name, "/interests/#{interest.id}")
    .link-bar
      .container
        .row-fluid
          .col-md-5.user
            = link_to user_path(@reel.user) do
              .avatar{:style => "background-image: url(#{@user.avatar.url});"}
              %h5= @user.first_name + " " + @user.last_name
          .col-md-5.views
            %h4.p-top-10.pull-left #{@reel.impressionist_count} views
            .links
              .share.fb-share-button{"data-href" => reel_url(@reel), "data-layout" => "button"}
              %a.share.twitter-share-button{href: "https://twitter.com/share"} Tweet
          .col-md-2.edit
            - if current_user && current_user.id == @user.id        
              = link_to "Edit Reel", edit_reel_path(@reel), class: "btn btn-default edit-reel"

    .reel
      = render 'shared/grid'
