- content_for :head do
  %meta{ property: "og:title", content: @reel.name }
  %meta{ property: "og:type", content: "website" }
  %meta{ property: "og:url", content: reel_url(@reel) }
  - if @reel.media.any?
    - if @reel.media.last.is_a? Video
      %meta{property: "og:image", content: "http://img.youtube.com/vi/#{@reel.media.last.uid}/0.jpg" }
      %meta{property: "og:video", content: "http://www.youtube.com/v/#{@reel.media.last.uid}"}
    - elsif @reel.media.last.is_a? Image
      %meta{property: "og:image", content: URI.join(request.url, @reel.images.last.photo.url)}
  %meta{ property: "og:description", content: reel_description }
  %meta{ name: "twitter:card", content: "summary_large_image" }
  %meta{ name: "twitter:site", content: "@Evrystep" }
  %meta{ name: "twitter:title", content: "Evrystep Reel" }
  %meta{ name: "twitter:description", content: reel_description }
  %meta{ name: "twitter:image", content: reel_image }
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
- media = @images.zip(@videos).flatten.compact
%div#fb-root{"data-fb-app-id" => ENV['FACEBOOK_APP_ID']}
= render 'shared/nav'
-if current_user && current_user.id == @user.id
  = render 'shared/modal_edit'
-if @reel.featured?
  = render 'featured'
- else
  .reel-page
    .container.reel-header-container
      .row.hero
        -# .col-sm-12
        -#   %h5.reel-breadcrumbs
        -#     = link_to @user.first_name + " " + @user.last_name + " > ", user_path(@reel.user)
        -#     = @reel.name
        .col-sm-2
          .avatar-container
            = link_to user_path(@reel.user) do
              .avatar{:style => "background-image: url(#{@user.avatar.url});"}
            %br
            %small.reel-artist-name
              %i
                by
                %b
                  = link_to @user.first_name + " " + @user.last_name, user_path(@reel.user)
            %small.reel-artist-name
              = @user.description
            %br
            .share-button
              .share-line
              .share-triangle
              .share-circle.text-center
                %i.fa.fa-share-alt
                Share!
        .col-sm-10.reel-header
          .reel-top-header.text-center
            %i.fa.fa-map-marker
            %span
              = @user.location
            - interest = @reel.interests
            - length = interest.length
            %ul.list-inline.m-bottom-10
              %li
                %i.fa.fa-tag
              - interest.each_with_index do |interest, x|
                - if x+1 != length
                  %li.interest-tags
                    = link_to(interest.name, "/interests/#{interest.id}")
                  /%li.divider
                - else
                  %li.interest-tags
                    = link_to(interest.name, "/interests/#{interest.id}")
          %h1.reel-name-header.m-bottom-5
            = @reel.name
            - if current_user && current_user.id == @user.id
              = link_to edit_reel_path(@reel) do
                %i.fa.fa-pencil-square
                Edit
              /= link_to "Edit Reel", edit_reel_path(@reel), class: "btn btn-default edit-reel"
          .share-button-mobile
            .share-line
            .share-triangle
            .share-triangle-right
            .share-circle.text-center
              %i.fa.fa-share-alt
              Share!
          %h5.reel-description
            %i.fa.fa-eye
            #{@reel.impressionist_count} views
          %p.reel-description= @reel.description
    -# .link-bar
    -#   .container
    -#     .row-fluid
    -#       .col-md-5.user
    -#         = link_to user_path(@reel.user) do
    -#           .avatar{:style => "background-image: url(#{@user.avatar.url});"}
    -#           %h5= @user.first_name + " " + @user.last_name
    -#       .col-md-5.views
    -#         %h4.p-top-10.pull-left #{@reel.impressionist_count} views
    -#         .links
    -#           .share.fb-share-button{"data-href" => reel_url(@reel), "data-layout" => "button"}
    -#           %a.share.twitter-share-button{href: "https://twitter.com/share"} Tweet
    -#       .col-md-2.edit
    -#         - if current_user && current_user.id == @user.id
    -#           = link_to "Edit Reel", edit_reel_path(@reel), class: "btn btn-default edit-reel"
    = render 'shared/timeline'
