- content_for :head do
  %meta{ property: "og:title", content: "<%=@reel.name%>" }
  %meta{ property: "og:type", content: "website" } 
  %meta{ property: "og:url", content: "<%=reel_url(@reel)%>" } 
  %meta{ property: "og:image", content:"<%=user_image%>" }
  %meta{ property: "og:description", content: "<%=reel_description%>" }
- media = @images.zip(@videos).flatten.compact
%div#fb-root{"data-fb-app-id" => "<%= ENV['FACEBOOK_APP_ID']%>"}
.hero-image.landing
  .hero
    = render 'shared/nav'
.container.p-y-60.text-center{style: "height: 100%;"}
  .row
    .col-xs-12
      %h1.text-center= @reel.name
  .row
    .col-xs-12
      %div.reel-carousel-center
        - media.each do |media|
          %div.m-20
            - if @images.include? media
              = image_tag media.photo.url(:medium)
              %h4.p-top-15= media.title
              %p= media.description
            - else
              %iframe.youtube-player{type: "text/html", width: "500", height: "300", src: "http://www.youtube.com/embed/#{media.uid}", "allowfullscreen" => "true", "frameborder" => "0"}
              %h4.p-top-15= media.title
              %p= media.description
  .row
    .col-xs-12
      %div.fb-share-button{"data-href" => "<%=share_object('reel')%>", "data-width" => "300", "data-layout" => "button"}
      %div#result