- content_for :head do
  %meta{ property: "og:title", content: @reel.name }
  %meta{ property: "og:type", content: "website" } 
  %meta{ property: "og:url", content: reel_url(@reel) } 
  %meta{ property: "og:image", content: user_image }
  %meta{ property: "og:description", content: reel_description }
- media = @images.zip(@videos).flatten.compact
%div#fb-root{"data-fb-app-id" => ENV['FACEBOOK_APP_ID']}
.reel-page
  .container
    = render 'shared/light_nav'
    .hero
      .container
        %h1.text-center.m-bottom-10= @reel.name
        %h4= @reel.description  
        - interest = @reel.interests
        - length = interest.length
        %ul.list-inline.m-bottom-10.interests
          - interest.each_with_index do |interest, x|
            - if x+1 != length
              %li
                = link_to(interest.name, "/interests/#{interest.id}")
              %li.divider
            - else
              %li
                = link_to(interest.name, "/interests/#{interest.id}")
  .link-bar
    .container
      .row-fluid
        .col-md-8.user
          = link_to user_path(@reel.user) do
            .avatar{:style => "background-image: url(#{@user.avatar.url});"}
            %h5= @user.first_name + " " + @user.last_name
        / .col-md-1
        /   .fb-share-button{"data-href" => share_object('reel'), "data-layout" => "button"}
        .col-md-4.links
          - if current_user && current_user.id == @user.id
            = link_to new_video_path, class: 'btn btn-primary edit-reel' do #prepopulate reel info
              = image_tag "add.svg", height: "16px"
              %span MEDIA         
            = link_to "Edit Reel", edit_reel_path(@reel), class: "btn btn-default edit-reel"

  .reel
    .grid-container
      .row-fluid.reel-grid
        %ul.list-inline
          - @images.each do |img|
            %li.m-bottom-20
              %a.magnific{:href => img.photo.url, :title => img.description}
                .grid-item{:style => "background-image: url(#{img.photo.url});"}
                  - if img.description.present?
                    .caption
                      %p= img.description
                  // Need to include image for Magnific popup
                  %img{src: img.photo.url, :style => "display: none"}
          - @videos.each do |vid|
            %li.m-bottom-20
              %a.magnific-video{:href => "https://www.youtube.com/watch?v=#{vid.uid}", :title => vid.description}
                .grid-item{:style => "background-image: url(http://img.youtube.com/vi/#{vid.uid}/0.jpg);"}
                  =image_tag "video_arrow_right.png"
                  .caption
                    %p= vid.description
                  %img{src: "http://img.youtube.com/vi/#{vid.uid}/0.jpg", :style => "display: none"}
