<h1>Edit post</h1>

<%= form_for :post, url: post_path(@post), method: :put, :html => {:multipart => true} do |f| %>
  <p>
    <strong>Select image to upload:</strong><br>
    <%= f.file_field :photo %>
  </p>

  <p>
    <strong>Enter YouTube video url:</strong><br>
    <%= f.text_field :video_url %>
  </p>

  <p>
    <strong>Choose Interests:</strong><br>
    <% Interest.all.each do |interest| %>
    <%= hidden_field_tag "post[interest_ids][]", nil %>
      <%= check_box_tag "post[interest_ids][]", interest.id, @post.interest_ids.include?(interest.id) %>
      <!-- Make sure the interests, if changed or unchanged, are saving properly during edit -->
      <!-- TODO Add label_tag for better UI - see RailsCast 17 -->
      <%= interest.name %><br>
    <% end %>
  </p>

  <p>
    <strong>Choose Activities:</strong><br>
    <% Activity.all.each do |activity| %>
    <%= hidden_field_tag "post[activity_ids][]", nil %>
      <%= check_box_tag "post[activity_ids][]", activity.id, @post.activity_ids.include?(activity.id) %>
      <!-- Make sure the activities, if changed or unchanged, are saving properly during edit -->
      <!-- TODO Add label_tag for better UI - see RailsCast 17 -->
      <%= activity.name %><br>
    <% end %>
  </p>

  <p>
    <%= f.label :caption %><br>
    <%= f.text_area :caption %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>