-# APRIL: Custom interest image to go here
.hero-image{style: "background-image: url(#{@interest.cover_photo.url(:large)});"}
  .hero
    = render 'shared/nav'
    .container.p-y-100.ta-center{style: "height: 300px;"}
.container.p-y-40
  .row.ta-center
    .col-lg-12
      %h1.hero-text.p-bottom-5= @interest.name
      -# APRIL: Custom interest quote to go here
      %h4= @interest.description
      -# APRIL: Custom interest quote attribution to go here
      %h5= @interest.quote_author
  .row.ta-center.p-top-20
    .col-xs-12
      %ul.list-inline
        %li
          %h5
            %a Reels
        %li.divider
        %li
          %h5
            %a About
        %li.divider
        %li
          %h5
            %a Followers
.container.ta-center.m-top-40{style: "height: 1px; background-color: #cccccc;"}
  %span{style: "background-color: white; position: relative; top: -30px;"}
    %button.btn.btn-primary.btn-large Follow
.container.p-y-20{role: "tabpanel"}
  .row.ta-right.m-bottom-30
    .col-xs-12
      %ul.list-inline
        %li.active
          %a{href: "#reels", role: "tab", "data-toggle" => "tab"} Reels
        %li
          %a{href: "#timeline", role: "tab", "data-toggle" => "tab"} Timeline
.tab-content
  .container.tab-pane#timeline{role: "tabpanel"}
    - 6.times do
      .row
        .col-xs-12.col-sm-6
          %h4
            -# APRIL: Make reel dates and names dynamic
            %strong October 13, 2014
            %span by Pamela Hughes
          %h4 Performing with Dynamix
          %img.m-top-10{src: "http://ecstaticdancespokane.com/wp-content/uploads/dance_in_the_shutter_IX_by_mehmeturgut.jpg", width: "100%"}
          %h5.ta-center.m-top-10 Reel description to go here.
        .col-xs-12.col-sm-6
          %h4
            -# APRIL: Make reel dates and names dynamic
            %strong October 13, 2014
            %span by Pamela Hughes
          %h4 Performing with Dynamix
          %img.m-top-10{src: "http://ecstaticdancespokane.com/wp-content/uploads/dance_in_the_shutter_IX_by_mehmeturgut.jpg", width: "100%"}
          %h5.ta-center.m-top-10 Reel description to go here.
  .container.tab-pane.active#reels{role: "tabpanel"}
    - 3.times do
      .row.p-top-20
        .col-xs-12
          -# APRIL: Hook up to reel names and tags
          %h3 Performing with Dynamix
          %ul.list-inline
            %li
              %a Dance
            %li.divider
            %li
              %a Health &amp; Fitness
      .row.p-top-20.ta-center
        .col-xs-12
          %div.reel-carousel
            -# APRIL: Hook up reel images and titles to carousel
            - 7.times do
              %div.m-20
                %a
                  %img{src: "http://trailerpilot.files.wordpress.com/2012/07/thodos-dance-chicago-2012-new-dances-9.jpg", width: "100%"}
                  %h4.p-top-15 Video Title Here
