<br><br>
<%= form_for @image, url: images_path, :html => { :multipart => true, :class => 'well form-horizontal' } do |f| %>

  <%= render 'shared/error_messages', :object => f.object %>

  <fieldset>
    <div style="text-align: center" class="h2 no-top-margin">Upload an Image</div>
    <br>

    <div class="form-group">
      <div class="controls">
        <%= f.label "Choose Reel", :class => 'col-sm-2 h4 control-label' %>
        <div class="col-sm-10">
          <span class="help-block">Choose a reel for your image:</span>
          <!--<p class="h5">Dance :</p>-->
          <% @user.reels.all.each do |reel| %>
            <%= hidden_field_tag "reel[image_ids][]", nil %>
            <%= check_box_tag "reel[image_ids][]", reel.id %>
            <!-- TODO Add label_tag for better UI - see Rails Cast 17 -->
            <%= reel.name %><br>
          <% end %>
          
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <%= f.label :photo, "Image", :class => 'col-sm-2 h4 control-label' %>
        <div class="col-sm-10">
          <%= f.file_field :photo %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <%= f.label :caption, "Caption", :class => 'col-sm-2 h4 control-label' %>
        <div class="col-sm-10">
          <%= f.text_area :caption, :class => 'form-control', :type => 'text', :rows => '3', :placeholder => 'Describe your image here' %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Done", :class => 'btn btn-danger btn-lg' %>
    </div>

  </fieldset>
<% end %>