<!DOCTYPE html>
<html>
<head>
  <title>Evrystep</title>
  <meta name="description" content="Evrystep is a visual journaling tool that you can use to track and share all your passions and creative projects.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="fb:app_id" content="<%=ENV['FACEBOOK_APP_ID']%>"/>
  <meta property="og:site_name" content="Evrystep" />
  <!--<script src="https://use.typekit.net/suw2hsl.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>-->
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "masonry.pkgd" %>
  <%= javascript_include_tag "imagesloaded.pkgd" %>
  <%= csrf_meta_tags %>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">Stripe.setPublishableKey("<%=ENV['STRIPE_PUBLISHABLE_KEY']%>");</script>
  <!-- Heap Analytics -->
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+t+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    heap.load("3107286711");
  </script>
  <!-- End Heap Analytics -->
  <!-- <script src="https://raw.githubusercontent.com/furf/jquery-ui-touch-punch/master/jquery.ui.touch-punch.min.js"></script> -->
</head>
<body>
  <!-- Google Tag Manager -->
  <!--
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5KZJKH"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  -->
  <!--
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5KZJKH');
  </script>
  -->
  <!-- End Google Tag Manager -->
  <!-- add master-container class to above div? -->
  <div class="<%= ('cover' if !current_user && current_page?(root_path)) %> wrapper">
    <%= render "shared/flash_messages" %>
    <!-- pad for height of footer -->
    <div style="min-height: 100vh; padding-bottom: 39px; overflow: hidden;">
      <%= yield %>
    </div>
    <div class="<%= ('hidden' if !current_user && current_page?(root_path)) %>">
      <%= render "shared/footer" %>
    </div>
  </div>
</body>
</html>
