<!DOCTYPE html>
<html>
<head>
  <title>Evrystep</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="fb:app_id" content="<%=ENV['FACEBOOK_APP_ID']%>"/> 
  <meta property="og:site_name" content="Evrystep" />
  <script src="//use.typekit.net/suw2hsl.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "masonry.pkgd" %>
  <%= javascript_include_tag "imagesloaded.pkgd" %>
  <%= csrf_meta_tags %>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>

</head>
<body>
  <!-- add master-container class to above div? -->
  <div class="wrapper">
    <%= render "shared/flash_messages" %>
    <!-- pad for height of footer -->
    <div style="padding-bottom: 39px;">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </div>
  <script>
  $(document).foundation();
  </script>
</body>
</html>